body{
    width: 1200px;
    max-width: 1200px;
}
.header{
    height: 78px;
    width: auto;
    max-width: 1200px;
    margin : 0 auto;
    background: #282828;
    display: flex;
    align-items: center;
  }
ul{
    height: 19px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 24px;
    list-style:none;
    margin: 0px;
    margin-left: auto;
    margin-right: 37px;
}
ul li{
  font-family:'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  }
a{
    text-decoration: none;
  }
li, ol{
    list-style: none;
}
.Logo{
    width: auto;
    font-size: 30px;
    color: #FFFFFF;
    padding-top: 4px;
    margin-left: 34px;
}
table {
    background: #FFFFFF;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #E7E7E7;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -1px;
  }
  th{
    text-align: left;
    width: 200px;
    padding: 8px;
    font-size: 25px;
    box-sizing: border-box;
  }
  td{
    text-align: left;
    width: 200px;
    box-sizing: border-box;
    padding: 8px;
    font-size: 18px;
  }
  tr{
    border: 1px solid #E7E7E7;
  }
  thead
{
  background-color: rgb(245,246,250);
}
/* tr:hover{
  background : #4158D9;
  border: 1px solid #1835D9;
  color: #FFFFFF;
} */
caption{
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
#hotplace{
  width: 100%;
}
#category{
  width: 30%;
  height: 500px;
  overflow: scroll;
}
#city{
  width: 30%;
  height: 500px;
  overflow: scroll;
}
#middle{
  width: 30%;
}
#section{
  width: 100%;
  display: flex;
  flex-direction: row;
}
