<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <nav class="header">
        <a class='Logo' href="/">Yelp</a>
        <ul>
        <a href="/business"><li>비지니스</li></a>
        <a href="/user"><li >useful한 장소</li></a>
        <a href="/goodplace"><li >굿플레이스</li></a>
        <a href="/badplace"><li >배드플레이스</li></a>
        <a href="/category"><li >카테고리</li></a>
        </ul>
      </nav>
      <div id="left">

        <div id="graph_good"></div>

        <table id="hotplace">
            <caption>평점을 낮게준 사람이 높게 평가한 장소(최고)</caption>
            <tbody>
                {% for document in good %}
                <tr>
                    <td rowspan="6">
                        {% if document.photo_id %}
                        <img src="{{ url_for('serve_photo', photo_id=document.photo_id) }}" alt="Business Photo">
                        {% else %}
                        <p>No photo available</p>
                        {% endif %}
                    </td>
                    <td>{{ document.business_name }}</td>
                </tr>
                <tr>
                    <td>{{ document.real_average_stars }}</td>
                </tr>
                <tr>
                    <td>{{ document.business_stars }}</td>
                </tr>
                <tr>
                    <td>{{ document.business_address }}</td>
                </tr>
                <tr>
                    <td>{{ document.business_city }}</td>
                </tr> 
                <tr>
                    <td>{{ document.text|join(' ')|truncate(200) }}</td>
                </tr> 
            </tbody>
            {% endfor %}
        </table>
      </div>
      <script>
        
    var reviewerStar_good = [];
    var averageStarsData_good = [];
    var businessNames_good = [];

    {% for document in good %}
        reviewerStar_good.push({{ document.business_stars }});
        averageStarsData_good.push({{ document.real_average_stars }});
        businessNames_good.push("{{ document.business_name }}");
        console.log("good")
        console.log(document.business_name)
    {% endfor %}

    var data_good = [{
        x: reviewerStar_good,
        y: averageStarsData_good,
        mode: 'markers',
        type: 'scatter',
        text: businessNames_good,
        hovertemplate: 'Business Name: %{text}<br>' +
                       'Reviewer Star: %{x}<br>' +
                       'Average Stars: %{y}<br>',
    }];

    var layout_good = {
        title: '평점을 낮게 준 사람이 높게 평가한 장소의 평균 평점 상관성',
        xaxis: {
            title: 'Reviewer Star'
        },
        yaxis: {
            title: 'Average Stars'
        }
    };

    Plotly.newPlot('graph_good', data_good, layout_good);
      </script>
</body>
</html>