<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Document</title>
</head>
<body>
    <nav class="header">
      <a class='Logo' href="/">Yelp</a>
      <ul>
      <a href="/business"><li>비지니스</li></a>
      <a href="/user"><li >유저정보</li></a>
      <a href="/place"><li >굿/배드플레이스</li></a>
      <a href="/category"><li >카테고리</li></a>
      </ul>
    </nav>
    메인페이지 입니다.
</body>
</html>