<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Document</title>
</head>
<body>
    <nav class="header">
      <a class='Logo'to="/">Yelp</a>
      <ul>
      <a href="/business"><li>비지니스</li></a>
      <a href="/user"><li >유저정보</li></a>
      </ul>
    </nav>
    <table>
      <caption>유저 정보</caption>
      <thead>
          <tr>
              <th>Name</th>
              <th>Review count</th>
          </tr>
      </thead>
      <tbody>
          {% for document in data %} 
              <tr>
                  <td>{{ document.name }}</td>
                  <td>{{ document.review_count}}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</body>
</html>