<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Document</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <nav class="header">
        <a class='Logo' href="/">Yelp</a>
        <ul>
        <a href="/business"><li>비지니스</li></a>
        <a href="/user"><li >useful한 장소</li></a>
        <a href="/goodplace"><li >굿플레이스</li></a>
        <a href="/badplace"><li >배드플레이스</li></a>
        <a href="/category"><li >카테고리</li></a>
        </ul>
      </nav>

    <div id="graph"></div>
    <table>
      <caption>useful이 200 이상 채택된 장소</caption>
      <thead>
          <tr>
              <th>Name</th>
              <th>Review count</th>
              <th>Useful Count</th>
          </tr>
      </thead>
      <tbody>
          {% for document in data %} 
              <tr>
                  <td>{{ document.name }}</td>
                  <td>{{ document.review_count}}</td>
                  <td>{{ useful_counts[loop.index-1] }}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>


  <script>
   
        var countUseful = [];
        var averageStars = [];
        var businessNames = [];

        
    
        {% for document in data %}
            console.log("input data")
            averageStars.push({{ document.real_stars }});
            businessNames.push("{{ document.name }}");
        {% endfor %}

        {% for document in useful_counts %}
            countUseful.push({{ document }});
        {% endfor %}

        var data = [{
            x: averageStars,
            y: countUseful,
            mode: 'markers',
            type: 'scatter',
            text: businessNames,
            hovertemplate: 'Business Name: %{text}<br>' +
                           'Average Star: %{x}<br>' +
                           'Useful Counts: %{y}<br>',
        }];
    
        var layout = {
            title: 'Relevance between average star and number of useful',
            xaxis: {
                title: 'Average Star'
            },
            yaxis: {
                title: 'Number of Useful'
            }
        };
    
        Plotly.newPlot('graph', data, layout);
    
    
    </script>
</body>
</html>